body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff;
    color: #333;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#description ul, section#installation ol {
    padding-left: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00b4d8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0096c7;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0077b6;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
